.home-container {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home h1 {
    /* font-size: 80px; */
    font-size: 5rem;     /* 80px */
    font-weight: 200;
    margin: 0;
}

.home h3 {
    /* font-size: 16px; */
    font-size: 1rem;     /* 16px */
}

.home p {
    /* font-size: 22px; */
    font-size: 1.375rem; /* 22px */
    color: black;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 52px;
    align-items: center;
    justify-content: center;
    max-width: 1350px;
    width: 70%;
    margin: 15% auto 3% auto;
}

.about-img {
    width: 100%;
    height: 100%;
    display: flex;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.about-description-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    min-height: 100%;
    gap: 25px;
}

.about-header {
    gap: 0px;
}

.about-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-container img {
    width: 100%;
    max-height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

#projects {
    scroll-margin-top: 100px;
}

.projects-container {
    background-color: #ffffff;
    text-align: center;
    height: fit-content;
    margin: 10% 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.projects-container h1 {
    /* font-size: 60px; */
    margin: 0;
}

.projects-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 70%;
    justify-content: center;
    gap: 50px;
}


@media (max-width: 1200px) {
    .about-container {
        width: 85%;
    }
}

@media (max-width: 800px) {
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .about-img {
        justify-content: center;
    }

    .about-img img {
        aspect-ratio: 1/1;
        width: 500px;
        height: 400px;
    }

    .about-description-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        min-height: 100%;
        gap: 25px;
        text-align: center;
    }

    .about-description, .about-header {
        align-items: center;
    }
}

@media (max-width: 450px) {
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .about-img {
        justify-content: center;
    }

    .about-img img {
        border-radius: 100%;
        aspect-ratio: 1/1;
        width: 250px;
        height: 250px;
    }

    .about-description-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        min-height: 100%;
        gap: 25px;
        text-align: center;
    }

    .about-description, .about-header {
        align-items: center;
    }
}