body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2 {
    font-family: 'Gambarino-Regular', sans-serif;
    color: black;
}

h1 {
    font-size: 60px;
    font-weight: 200;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-weight: 200;
    margin: 0;
}

h3,
h4 {
    font-family: 'Switzer-Regular', sans-serif;
}

h3 {
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #FF66A6;
}

h4 {
    font-size: 16px;
    color: #aa265d;
}

p {
    font-family: 'Switzer-Light', sans-serif;
    font-size: 18px;
    color: #454545;
}

::-moz-selection {
    background: #ffbcd8;
}

::-webkit-selection {
    background: #ffbcd8;
}

::selection {
    background: #ffbcd8;
}