html {
    font-size: 16px;
}

body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2 {
    font-family: 'Gambarino-Regular', sans-serif;
    color: black;
}

h1 {
    /* font-size: 60px; */
    font-size: 3.75rem;     /* 60px */
    font-weight: 200;
    margin: 0;
}

h2 {
    /* font-size: 40px; */
    font-size: 2.5rem;      /* 40px */
    font-weight: 200;
    margin: 0;
}

h3,
h4 {
    font-family: 'Switzer-Regular', sans-serif;
}

h3 {
    /* font-size: 20px; */
    font-size: 1.25rem;     /* 20px */
    letter-spacing: 0.05em;
    color: #FF66A6;
}

h4 {
    /* font-size: 16px; */
    font-size: 1rem;        /* 16px */
    color: #aa265d;
}

p {
    font-family: 'Switzer-Light', sans-serif;
    /* font-size: 18px; */
    font-size: 1.125rem;    /* 18px */
    color: #454545;
}

a {
    font-size: 1.125rem;    /* match <p> for general links unless otherwise */
}

::-moz-selection {
    background: #ffbcd8;
}

::-webkit-selection {
    background: #ffbcd8;
}

::selection {
    background: #ffbcd8;
}

@media (max-width: 1200px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 13px;
    }
}

/* @media (max-width: 1200px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 12px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 10px;
    }

    p {
        font-size: 12px;
    }
} */